@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    overflow: hidden;
  }

  body {
    @apply bg-surface text-on-surface overflow-y-auto overflow-x-hidden;
    height: 100vh;
  }

  /* Custom scrollbar */
  body::-webkit-scrollbar {
    width: 0;
    display: none;
  }
}

@layer components {
  .container {
    @apply px-6 md:px-8 lg:px-12;
    max-width: 1280px;
  }
}

:root {
  /* Light mode */
  --primary-filter: brightness(0) saturate(100%) invert(37%) sepia(13%)
    saturate(1235%) hue-rotate(222deg) brightness(89%) contrast(88%);
  --tertiary-filter: brightness(0) saturate(100%) invert(39%) sepia(9%)
    saturate(1966%) hue-rotate(314deg) brightness(92%) contrast(89%);

  /* Dark mode - using secondary.container */
  --dark-primary-filter: brightness(0) saturate(100%) invert(31%) sepia(9%)
    saturate(1157%) hue-rotate(230deg) brightness(94%) contrast(89%); /* For #4A4458 */
  --dark-tertiary-filter: brightness(0) saturate(100%) invert(82%) sepia(19%)
    saturate(533%) hue-rotate(295deg) brightness(103%) contrast(101%); /* For #EFB8C8 */
}

.protect-image {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}
